priority -40

snippet sftwigextension "Symfony2 / Twig / Extension Class" b
<?php

namespace `!v sniphpets#namespace()`;

class `!v sniphpets#basename()` extends \Twig_Extension
{
	public function getFilters()
	{
		return [];
	}

	public function getFunctions()
	{
		return [];
	}

	public function getName()
	{
		return '${1:`!v sniphpets#camel_to_snake(sniphpets#symfony#resolve_bundle_name() . sniphpets#basename('Extension'))`}';
	}
}
endsnippet
