priority -40

snippet sfwebtestcase "Symfony2 / Tests / WebTestCase" b
<?php

namespace `!v sniphpets#namespace()`;

use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;

class `!v sniphpets#basename()` extends WebTestCase
{
	${0}
}
endsnippet

snippet sftest "Symfony2 / Tests / WebTestCase method" b
public function test${1}()
{
	$client = static::createClient();

	$crawler = $client->request('${2:GET}', '${3}');

	${4}
}
endsnippet

snippet sfsmoketest "Symfony2 / Tests / Smoke test methods" b
/**
 * @dataProvider urlProvider
 */
public function testPageIsSuccessful($url)
{
	$client = self::createClient();
	$client->request('GET', $url);

	$this->assertTrue($client->getResponse()->isSuccessful());
}

public function urlProvider()
{
	return [
		['/${1}'],${0}
	];
}
endsnippet
