priority -40

snippet sftwigextension "Symfony / Twig / Extension class" b
<?php`!v sniphpets#header()`

namespace `!v sniphpets#namespace()`;

use Twig\Extension\AbstractExtension;
use Twig\TwigFilter;
use Twig\TwigFunction;

class `!v sniphpets#basename()` extends AbstractExtension
{
	public function getFilters()
	{
		return [];
	}

	public function getFunctions()
	{
		return [];
	}
}
endsnippet
